manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: inorichi
      url-base: https://github.com/inorichi

  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml

    # PMW3610ドライバ（Zephyr 3.5対応）
    - name: zmk-pmw3610-driver
      remote: inorichi
      revision: main
      path: modules/zmk-pmw3610-driver

  self:
    path: .
